:root {
  --bg: #EEE;
  --text: #121212;
  --accent: #007acc;

  --font-family: "Noto Sans", noto-sans, sans-serif;
  --title-font-family: 'Noto Serif', 'Merriweather', serif;
  --code-font-family: 'Iosevka', 'Roboto Mono', monospace;

  --md-content-size: 90ex;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #121212;
    --bg-alt: #181818;
    --text: #EEE;
    --text-alt: #999;
    --accent: #5e3ae9;
  }
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-family);
}

hr {
  color: var(--text-alt);
}

a {
  color: var(--accent);
}

.button {
  display: inline-block;
  padding: 0.5ex 1ex;
  background: var(--accent);
  color: var(--text);
  text-decoration: none;
  border-radius: 0.33em;
  font-weight: bold;
}

.recommendation-list {
  padding-left: 0;
  margin-left: 2ex;
  margin-right: 2ex;
}
.recommendation-list li {
  list-style-type: none;
  margin-bottom: 3ex;
}

.album-grid-container {
  display: flex;
  flex-wrap: wrap;
  
  gap: 1em; /*I didn't add this*/
  box-sizing: border-box;
  
  align-items: flex-start;
  background-color: var(--bg-alt);
  padding: 1ex;
  border-radius: 0.33ex;
}
.label {
  user-select: none;
}
.album-grid-container > img {
  width: 16ex;
  height: auto;
  padding-right: 1ex;
  flex-shrink: 0;
}

.album-grid-info {
  flex: 1 1 200px;
  display: grid;
  grid-template-columns: max-content auto;
  row-gap: 0.33ex;
  column-gap: 1ex;
  padding: 0.2ex;
}


/* Words */

.md-title {
  font-family: var(--title-font-family);
}

.md-body {
    max-width: 70ex;
    margin: 0 auto;
    padding: 0 1rem;
}



math {
    display: block;
    font-size: calc(1.25ex);

}

blockquote {
  background: var(--bg);
  border-left: 10px solid var(--accent);
  margin: 1.5em 10px;
  padding: 0.5ex 10px;
}
blockquote p {
  display: inline;
}

.md-codeblock {
  width: fit-content; 
}
.md-codeblock pre {
  padding-left: 2ex;
  padding-right: 2ex;
}

pre {
    padding: 1ex;
    overflow-x: scroll;
    font-size: var(--code-font-size);
}
code {
    padding: 0.33ex;
}

pre, code {
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);
    border-radius: 0.33ex;
}

/* CSS preprocessors are the devil. */

/* Quill styling */

.ql-picker-label {
  color: var(--text) !important;
}
.ql-picker-options {
  background-color: var(--bg-alt) !important;
  color: var(--text) !important;
}
.ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: var(--accent);
}
.ql-snow .ql-stroke {
  stroke: var(--text) !important;
}

.ql-fill {
  fill: var(--text) !important;
}
